.content {
    background-image: url("https://i.pinimg.com/736x/aa/74/e5/aa74e5df63f034370a4980014b870372.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina padding */
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 250px); /* Ajusta el ancho para que considere el sidebar (250px es un ejemplo) */
    height: 100vh; /* Ocupa todo el alto de la ventana */
    position: absolute;
    top: 0;
    left: 250px; /* Desplaza el contenido para que no se superponga al sidebar */
    z-index: 1; /* Asegura que el contenido esté visible */
}

.info-box {
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 500px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    z-index: 2; /* Asegura que el cuadro de información esté visible */
}

.selec {
    color: #5a3527;
    margin-top: 15px;
}

.estados {
    margin-top: 15px;
    color: #af9278;
    font-size: 20px;
}